# 也可在UI界面中进行设置
SILICONFLOW_API_KEY=sk-xxxxxxxxxxx
DASHSCOPE_API_KEY=xxxxxxxxxx
OPENAI_API_KEY=xxx
ARK_API_KEY=xxx
CUSTOM_API_KEY=sk-xxxx
DATACENTER_API_KEY=sk-xxxx
DEEPSEEK_API_KEY=sk-xxxx
GLM_API_KEY=sk-xxxx
KIMI_API_KEY=sk-xxxx
QWEN_API_KEY=sk-xxxx
